<div class="container">
  <div class="grid-container">

    <div class="header">
      <h2>SpaceX Launch Programs</h2>
    </div>

    <div class="menu">
      <app-filter></app-filter>
    </div>

    <div class="main">
      <app-lanch-programs></app-lanch-programs>
    </div>

    <div class="main no-data-main" *ngIf="spacexApiService.SpaceXData.length == 0 && spacexApiService.loadingData== false">

      <div class="no-data-found">
        No Data Found!
      </div>

    </div>

    <div class="footer">
      <h3>Developed by <a href="https://about.me/vigneshmohanraj">Vignesh Mohanraj</a></h3>
    </div>

  </div>
</div>