<div class="grid-container">

    <ng-container *ngIf="!spacexApiService.loadingData">
        <div class="grid-item" *ngFor="let data of spacexApiService.SpaceXData">
            <div class="card">
                <div class="card-image">
                    <img [src]="data.links.mission_patch" alt="mission_image" height="200">
                </div>

                <div>
                    <div class="heading">
                        <p>{{data.mission_name}} #{{data.flight_number}}</p>
                    </div>

                    <div>
                        <p class="sub-heading">Mission IDs:</p>

                        <ul>
                            <li class="answer-text" *ngIf="data.mission_id.length == 0">No IDs Found!</li>
                            <li class="answer-text" *ngIf="data.mission_id.length>0">{{data.mission_id[0]}}</li>
                        </ul>
                    </div>

                    <div>
                        <span class="sub-heading"> Launch Year :</span> <span
                            class="answer-text">{{data.launch_year}}</span>
                    </div>

                    <div>
                        <span class="sub-heading"> Successfull Launch: </span> <span
                            class="answer-text">{{data.launch_success}}</span>
                    </div>

                    <div>
                        <span class="sub-heading"> Successfull Landing : </span> <span
                            class="answer-text">{{data.launch_landing}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>


    <ng-container *ngIf="this.spacexApiService.loadingData">
        <div class="grid-item" *ngFor="let loader of LoaderArray">
            <div class="card">
                <div class="card-image">
                    <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
                </div>

                <div>
                    <div class="heading">
                        <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
                    </div>

                    <div>
                        <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
                    </div>

                    <div>
                        <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
                    </div>

                    <div>
                        <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</div>